@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --blueColor:#795cff;
  --whiteColor:#fff;
  --blackColor:#000;
  --yellowColor:#ffc106;
}

body{
  max-width: 1400px;
  width: 100%;
  margin: auto;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
}